p #{title}
ul#data
  for val, key in data
    li
      a(href='/category/' + key) #{val[0]}
  li
    a(href='/random') Or try a lucky dip
p Only "What was X in year Y" right now but more on the way... 
  a(href='pauly+datemonkey@clarkeology.com?Subject=Some+data+in+value,year+columns')Got some data for me?
