<p>Pick a category to be quizzed on below:</p>
<ul id="data">
  {{#data}}
    <li><a href="/category/{{this._id}}">{{this._title}}</a></li>
  {{/data}}
</ul>
<p><a href="/random">Or try a lucky dip</a></p>
<p>Only "What was X in year Y" and "What was X in the the year Y was Z" right now but more on the way... </p>
<p><a href="mailto:pauly+datemonkey@clarkeology.com?Subject=Some+data+in+value,year+columns">Got some data for me?</p>
