!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
  #footer
    p
      a(href='/') #{siteTitle} 
      &copy; 
      a(href='http://www.clarkeology.com') Paul Clarke 
    p Hosted by 
      a(href='http://nodester.com') nodester.com
