doctype html
html(lang="en")
  head
    title= title
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', media='screen and (min-device-width: 480px)', href='/stylesheets/480.css')
    link(rel='stylesheet', media='screen and (min-device-width: 1920px)', href='/stylesheets/1920.css')
    script(src='http://code.jquery.com/jquery-1.5.min.js')
    script(src='/socket.io/socket.io.js')
    script.
      $( function () {
        var socket = io.connect( 'http://' + location.host, { rememberTransport: false } );
        socket.on( 'answer', function ( data ) {
          $('.messages').prepend( '<p>' + data.message + '</p>' ).find('p:nth-child(4)').fadeOut();
        } );
      } );
  body!= body
  pre.debug
  div.messages
  #footer
    p
      a(href='/') #{siteTitle}
      &nbsp;&copy; 
      a(href='http://www.clarkeology.com') Paul Clarke 
